<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/review.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="bg">

    Title: <p th:text="${album.get().getName()}">Title will be rendered here</p>
    Artist: <p th:text="${album.get().getArtist()}">Title will be rendered here</p>
    Year: <p th:text="${album.get().getYear()}">Title will be rendered here</p>
    Genre: <p th:text="${album.get().getGenre()}">Title will be rendered here</p>
    Date: <p th:text="${album.get().getReleaseDate()}">Title will be rendered here</p>

    <p></p>
    <p></p>
    <p></p>

    <h1>Reviews</h1>
    <tr th:each="review : ${album.get().getReviews()}">
        <td><a th:href="@{~/review/{id}(id=${review.id})}" th:text="${review.title}"> Title </a></td>
        <td><span th:text="${review.datePosted}"> Date Posted </span></td>
        <td><span th:text="${review.author}"> Author </span></td>
        <td><span th:text="${review.score}"> Score </span></td>
    </tr>


</div>
</body>
</html>